@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    /* Exemplo: degradê vertical de azul para roxo */
    background: linear-gradient(to bottom, #8f4e8fe3,#58a9bdc9);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 500px;
    height: 300px;
}
h1{
    text-align: center;
}
main > p{
    padding: 10px;
}
input{
    border: solid black 2px;
    border-radius: 5px;
    width: 450px;
    height: 25px;
    background-color: rgba(85, 231, 163, 0.705);
    padding: 5px;
}
input#entrar{
    background-color: rgb(64, 179, 125);
    color: white;
    width: 466px;
    height: 40px;
}
form img{
    height: 20px;
    width: 20px;
}